@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

.location-grid{
    display: grid;
    grid-template-columns: 1fr;
   }  

@media screen and (max-width:480px){
   .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 60px;
        font-weight: 900;
    }

   .medium{
        font-size: 50px;
        }

    .small{
        font-size: 26px;
        }

    .large{
        font-size: 50px;
        color: #FFFFFF;
    }

    .bodytext{
        font-family: 'Outfit';
        font-size: 18px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .tiny{
        font-size: 16px;
        }

   body{
        background-color: #151515;
    }

   .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 2rem;
        }

    .arrow{
        background-color: #D5966C;
        padding: 2rem;
        }

    .map{
        
        width: 100%;  
    }

    .location-grid{
        grid-template-columns: 2fr;
    }

    

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 1rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 1rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/2;
    } 
     
    
    .location-grid div:last-child{
        background-color:#D5966C;
        padding: 2rem;
    } 

    .maplocation{
        position: relative;
    }

    .arrow{
        position: absolute;
        top: 1px;
        left: 15px
    }

    .idle-button{
        position: absolute;
        top: 1px;
        left: 80px;
    }

    .tiniest{
        padding-top: 2rem;
        /* padding-bottom: 2rem; */
    }
    
    .socialmedia{
        margin: 5px 0 0 -30px;
        display: flex;
       
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;
        
           }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill:#FFFFFF;
        cursor: pointer;
        transition: background 500ms ease;
    }


}



@media screen and (max-width:1024px) and (min-width:500px){
    .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 70px;
        font-weight: 900;

       }

    .medium{
        font-size: 50px;
    }

    .small{
        font-size: 26px;
    }

    .large{
        font-size: 55px;
        color: #FFFFFF;
    }
    
    .bodytext{
        font-family: 'Outfit';
        font-size: 25px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .tiny{
        font-size: 16px;
    }

    body{
        background-color: #151515 
    }

    .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 1rem;
    }
    .arrow{
        background-color: #D5966C;
        padding: 1rem;
    }

    .map{
        object-fit: cover;
        width: 100%;
        
    
    }

    /* .location-grid{
        grid-template-columns: 4fr 2fr;
    } */

   

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/4;
    }
   
    
    .location-grid div:last-child{
        background-color:#D5966C;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-top: 1rem;
        padding-right: 0.2rem;
    } 

    .maplocation{
        position: relative;
    }

    .arrow{
        position: absolute;
        top: 1px;
        left: 105px
    }

    .idle-button{
        position: absolute;
        top: 1px;
        left: 140px;
    }

    .tiniest{
        padding-left: 4rem;
        padding-right: 5rem;
        padding-top: 1rem;
        
    }

    
    .socialmedia{
        margin: 0;
        display: flex;
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;
        
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill: #D5966C;
        cursor: pointer;
        transition: background 500ms ease;
    }


}

@media screen and (min-width:1025px){
    .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 96px;
        font-weight: 900;
    
          }

    .medium{
        font-size: 60px;
    }   
    
    .small{
        font-size: 36px;
    }

    .large{
        font-size: 70px;
        color: #FFFFFF;
    }
    
    .bodytext{
        font-family: 'Outfit';
        font-size: 22px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 22px;
        font-weight: 300;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 900;
        padding-bottom: 2rem;
    }

    .tiny{
        font-size: 18px;
    }

    body{
        background-color: #151515;
        
    }
    .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 2rem;
    }
    .arrow{
        background-color: #D5966C;
        padding: 2rem;
        font-size: 20px;
    }

    .map{
        object-fit: cover;
        width: 100%;
    
    }

    .location-grid{
        grid-template-columns: 2fr 2fr;
    }

   

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/4;
    }
   
    
    .location-grid div:last-child{
        background-color:#D5966C;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
    } 

    .maplocation{
        position: relative;
    }

    .arrow{
        position:absolute; 
        top: 0px;
        left: 100px;
    }

    .idle-button{
        position:absolute; 
        top: 0px;
        left: 150px;
    }

    .tiniest{
        justify-content: center;
        justify-items: center;
        padding-left: 14rem;
        padding-right: 15rem;
        align-items: center;
        margin-top: 2rem;
    }

    .socialmedia{
        /* margin: 0 0 0 35px; */
        display: flex;
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;
        /* padding-top: 1rem; */
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill:#FFFFFF;
        cursor: pointer;
        transition: background 500ms ease;
    }



}