@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

.location-grid{
    display: grid;
    grid-template-columns: 1fr;
   }  

@media screen and (max-width:480px){
   .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 60px;
        font-weight: 900;
    }

   .medium{
        font-size: 50px;
        }

    .small{
        font-size: 26px;
        }

    .large{
        font-size: 50px;
        color: #FFFFFF;
    }

    .bodytext{
        font-family: 'Outfit';
        font-size: 18px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .tiny{
        font-size: 16px;
        }

   /* body{
        background-color: #151515;
    } */

   .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        position: absolute;
        top: 0px;
        left: 50px;
        border: 0 solid #151515;
    }

    .arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        top: 0px;
        left: -50px;
    }

    .idle-button:hover, .idle-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .map{
        
        width: 100%;  
    }

    .location-grid{
        grid-template-columns: 2fr;
    }

    

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 1rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 1rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/2;
    } 
     
    
    .location-grid div:last-child{
        background-color:#D5966C;
        padding: 2rem;
    } 

    .maplocation{
        position: relative;
    }

    .tiniest{
        padding-top: 2rem;
        /* padding-bottom: 2rem; */
    }
    
    .socialmedia{
        /* margin: 5px 0 0 -30px; */
        display: flex;
       
    } 

    .tags{
        margin: 5px 0 0 -30px;
        display: flex;
       
    } 



    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;
        
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill:#FFFFFF;
        cursor: pointer;
        transition: background 500ms ease;
    }

    footer{
        background-color: #151515;
        padding: 2rem;

    }

    .foot{
        color: #FFFFFF;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .box-1{
        margin: 16px;
    }

    .artsy{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .location-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        border: 0 solid #151515;
        
    }

    .location-arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        bottom: -100px;   
    }

    .grid-1{
        margin: 16px;
        margin-top: 120px;
    }

    .box-2{
        background-color: #FFFFFF;
        color: #151515;
        margin: 16px;
    }

    .grid-2{
        margin: 16px;
    }
    .grid-3{
        margin: 16px;
    }

    .box-3{
        background-color: #151515;
        color: #FFFFFF;
        margin-bottom: 120px;
        padding: 2rem;
        /* margin-top: 16px; */
        margin-left: 16px;
        margin-right: 16px;
    }


}



@media screen and (max-width:1024px) and (min-width:500px){
    .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 70px;
        font-weight: 900;

       }

    .medium{
        font-size: 50px;
    }

    .small{
        font-size: 26px;
    }

    .large{
        font-size: 55px;
        color: #FFFFFF;
    }
    
    .bodytext{
        font-family: 'Outfit';
        font-size: 25px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .tiny{
        font-size: 16px;
    }

    /* body{
        background-color: #151515 
    } */

    .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 1rem;
        border: 0 solid #151515;
        position: absolute;
        top: 0px;
        left: 80px;
    }
    .arrow{
        background-color: #D5966C;
        padding: 1rem;
        position: absolute;
        top: 0px;
        left: -40px
    }

    .idle-button:hover, .idle-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .map{
        object-fit: cover;
        width: 100%;
        
    
    }

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/4;
    }
   
    
    .location-grid div:last-child{
        background-color:#D5966C;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-top: 1rem;
        padding-right: 0.2rem;
    } 

    .maplocation{
        position: relative;
    }

    .tiniest{
        padding-left: 4rem;
        padding-right: 5rem;
        padding-top: 1rem;
        
    }

    
    .socialmedia{
        margin: 0;
        display: flex;
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;
        
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill: #D5966C;
        cursor: pointer;
        transition: background 500ms ease;
    }

    footer{
        background-color: #151515;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-top: 1rem;
        padding-right: 0.2rem;
        
    }

    .foot{
        color: #FFFFFF;
        padding-left: 4rem;
        padding-right: 5rem;
        padding-top: 1rem;
    }

    .pic-1{
        background-image: url("assets\tablet\image-hero.jpg");
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    .box-1{
        padding-top: 145px;
    }

    .bigbox-1{
        display: flex;
        flex-direction: row;
    }

    .day{
        padding-right: 5rem;
        padding-bottom: 2rem;
    }


    
    .box-2{
        background-color: #FFFFFF;
        color:#151515;
        margin-bottom: 120px;
    
    }
    

    .bigbox-2{
        background-color:#FFFFFF;
        display: flex;
        flex-direction: row-reverse;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .box-3{
        background-color: #151515;
        color: #FFFFFF;
        margin-bottom: 120px;
        padding: 1rem;
        grid-column: 2 / 3;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 11px;
    }

    .pic-3{
        margin-left: 11px;
        margin-bottom: 5px;
    }

    .bigbox-3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 40px;
        margin-right: 40px;
        
    }

    .pic-2{
        grid-row: 1 / 3;
    }

    .excited{
        padding-top: 18px;
    }



    }

@media screen and (min-width:1025px){
    .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 96px;
        font-weight: 900;
    
          }

    .medium{
        font-size: 60px;
    }   
    
    .small{
        font-size: 36px;
    }

    .large{
        font-size: 70px;
        color: #FFFFFF;
    }
    
    .bodytext{
        font-family: 'Outfit';
        font-size: 22px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 22px;
        font-weight: 300;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 900;
        padding-bottom: 2rem;
    }

    .tiny{
        font-size: 18px;
    }

    /* body{
        background-color: #151515;
        
    } */
    .idle-button{
        background-color: #151515;
        border: 0 solid #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 2rem;
    }

    .idle-button:hover, .idle-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .arrow{
        background-color: #D5966C;
        padding: 2rem;
        font-size: 20px;
    }

    .map{
        object-fit: cover;
        width: 100%;
    
    }

    .location-grid{
        grid-template-columns: 2fr 2fr;
    }

   

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding-top: 4rem;
        padding-left: 120px;
        padding-right: 220px;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-right:120px;
        padding-left: 1rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/4;
    }
   
    
    .location-grid div:last-child{
        background-color:#D5966C;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        padding-left: 120px;
    } 

    .maplocation{
        position: relative;
    }

    .arrow{
        position:absolute; 
        top: 0px;
        left: -70px;
    }

    .idle-button{
        position:absolute; 
        top: 0px;
        left: 100px
    }

    .tiniest{
        justify-content: center;
        justify-items: center;
        padding-left: 8rem;
        padding-right: 10rem;
        align-items: center;
        margin-top: 2rem;
    }

    .socialmedia{
        /* margin: 0 0 0 35px; */
        display: flex;
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;
        /* padding-top: 1rem; */
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill:#FFFFFF;
        cursor: pointer;
        transition: background 500ms ease;
    }

    footer{
        background-color: #151515;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        padding-left: 120px;
        
    }

    .foot{
        color: #FFFFFF;
        justify-content: center;
        justify-items: center;
        padding-left: 8rem;
        padding-right: 10rem;
        align-items: center;
        margin-top: 2rem;
    }


}