@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

.location-grid{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #151515;
   }  

 .heading{
    line-height: 1.0;
 }  


@media screen and (max-width:480px){
   .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 60px;
        font-weight: 900;
    }

   .medium{
        font-size: 50px;
        }

    .small{
        font-size: 26px;
        }

    .large{
        font-size: 50px;
        color: #FFFFFF;
        padding-top: 42px;
    }

    .bodytext{
        font-family: 'Outfit';
        font-size: 18px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 300;
        padding-top: 20px;
        padding-bottom: 58px;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .tiny{
        font-size: 16px;
        }

    
    .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        position: absolute;
        top: 0px;
        left: 50px;
        border: 0 solid #151515;
        width: 208px;
    }

    .arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        top: 0px;
        left: -50px;
    }

    .idle-button:hover, .idle-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .map{
        
        width: 100%;  
    }

    .location-grid{
        grid-template-columns: 2fr;
    }

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 1rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 1rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/2;
    } 
     
    
    .location-grid div:last-child{
        background-color:#D5966C;
        padding: 2rem;
    } 

    .maplocation{
        position: relative;
    }

    .icons{
        padding-top: 48px;
    }

    .tiniest{
        padding-top: 38px;
    }
    
    .socialmedia{
            display: flex;  
    } 

    .tags{
        margin: 5px 0 0 -30px;
        display: flex;
    } 

    .tags svg path:hover{
        fill:#FFFFFF;
       
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        margin-right: 20px;     
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill:#D5966C;
        cursor: pointer;
        transition: background 500ms ease;
    }

    footer{
        background-color:#151515;
        padding: 2rem;
        width: 100%;
        
    }

    .foot{
        color: #FFFFFF;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .hero-image{
        background-image: url(./assets/mobile/image-hero.jpg);
        background-size: contain;
        height: 240px;
        order: 1;
       
    }

    .hero-text{
        padding-top: 32px;
        line-height: 1.0;
    }

    .bigbox-1{
        display: grid;
    }

    .box-1{
        margin: 16px;
        order: 2;
    }

    .artsy{
        padding-top: 32px;
        padding-bottom: 32px;
        
    }

    .arts-location{
        padding-left: 16px;
        padding-right: 16px;
        order: 3;
    }

    .wandery{
        padding-top: 21px;
    }

    .location-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        border: 0 solid #151515;
        position: absolute;
        width: 204px;
        letter-spacing: 2px;
        word-spacing: 2px;
        
    }

    .location-arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        bottom: 0px;
        left: 200px;   
    }

    .location-button:hover, .location-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .location-arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .grid-1{
        margin: 16px;
        margin-top: 200px;
    }

    .box-2{
        background-color: #FFFFFF;
        color: #151515;
        margin: 16px;
    }

    .grid-2{
        margin: 16px;
    }

    .grid-3{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
        width:max-content;
    }

    .box-3{
        background-color: #151515;
        color: #FFFFFF;
        margin-bottom: 120px;
        padding: 24px;
        padding-top: 48px;
        padding-bottom: 47px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .excited{
        padding-top: 24px;
    }


}



@media screen and (max-width:1024px) and (min-width:481px){
    .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 70px;
        font-weight: 900;

       }

    .medium{
        font-size: 50px;
    }

    .small{
        font-size: 26px;
    }

    .large{
        font-size: 55px;
        color: #FFFFFF;
    }
    
    .bodytext{
        font-family: 'Outfit';
        font-size: 25px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 300;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .tiny{
        font-size: 16px;
    }

    .idle-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        border: 0 solid #151515;
        position: absolute;
        top: 0px;
        left: 80px;
        width: 208px;
    }

    .arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        top: 0px;
        left: -40px
    }

    .idle-button:hover, .idle-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .map{
        object-fit: cover;
        width: 100%;
        
    
    }

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding: 3rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/4;
    }
   
    
    .location-grid div:last-child{
        background-color:#D5966C;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-bottom: 56px;
        padding-right: 0.2rem;
    } 

    .maplocation{
        position: relative;
    }

    .icons{
        align-items: flex-start;
    }

    .tiniest{
        padding-left: 4rem;
        padding-right: 5rem;
        padding-top: 2rem;
    }

    .tags svg path:hover{
        fill:#FFFFFF;
       
    } 

    
    .socialmedia{
        display: flex;
        gap: 1rem;
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;    
    }

    .socialmedia img:hover{
        cursor: pointer;
    }

    svg path:hover{
        fill: #D5966C;
        cursor: pointer;
        transition: background 500ms ease;
    }

    footer{
        background-color: #151515;
        display: flex;
        /* justify-content: space-between; */
        padding-top: 56px;
        padding-bottom: 56px;
        padding-left: 39px;
        padding-right: 40px;   
    }

    .foot{
        color: #FFFFFF;
        padding-left: 6rem;
        padding-right: 8rem;
            
    }

    .bigbox-1{
        background-image: url(./assets/tablet/image-hero.jpg);
        background-position: left;
        background-repeat: no-repeat;
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        top: 0;
        height: 700px;
       
    }

    .wandery{
        margin-bottom: 11px;
    }

    
    .location-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        border: 0 solid #151515;
        margin-bottom: 5rem;
        position: absolute;
        width: 204px;
        letter-spacing: 2px;
        word-spacing: 2px;
        
    }

    .location-arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        bottom: 0px;   
        right: -58px;
    }

    .location-button:hover, .location-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .location-arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }
    

    .box-1{
        padding-top: 120px;
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 2 / 2;
        
    }
    
    .hero-text{
        height: 20px;
    }

    .artsy{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 40px;
               
    }

        
    .day{
        padding-right: 39px;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    
    .box-2{
        background-color: #FFFFFF;
        color:#151515;
        margin-bottom: 120px;
    
    }
    

    .bigbox-2{
        background-color:#FFFFFF;
        display: flex;
        flex-direction: row-reverse;
        margin-left: 40px;
        margin-right: 40px;
        justify-content: center;
    }

    .box-3{
        background-color: #151515;
        color: #FFFFFF;
        padding-left: 29px;
        padding-right: 28px;
        grid-column: 2 / 3;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 11px;
        margin-right: 40px;
        margin-top: 11px;
        
    }

    .grid-3{
        margin-bottom: 0px;
    }

    .pic-3{
        margin-left: 11px;
        margin-right: 40px;
    }

    .bigbox-3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 39px;
        margin-right: 40px;
        margin-bottom: 120px;
    }

    .pic-2{
        grid-row: 1 / 3;
    }

    .excited{
        padding-top: 18px;
    }

    }


@media screen and (min-width:1025px){
    .heading{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        font-size: 96px;
        font-weight: 900;
    
          }

    .medium{
        font-size: 60px;
    }   
    
    .small{
        font-size: 36px;
    }

    .large{
        font-size: 70px;
        color: #FFFFFF;
    }
    
    .bodytext{
        font-family: 'Outfit';
        font-size: 22px;
    }

    .middle{
        color:#FFFFFF;
        font-size: 22px;
        font-weight: 300;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .addresstext{
        color: #D5966C;
        font-family: 'Big Shoulders Display';
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 900;
        padding-bottom: 2rem;
    }

    .tiny{
        font-size: 18px;
    }

    .idle-button{
        background-color: #151515;
        border: 0 solid #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        position:absolute; 
        top: 0px;
        left: 100px;
        width: 208px;
    }

    .idle-button:hover, .idle-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

    .arrow{
        background-color: #D5966C;
        padding: 24px;
        font-size: 20px;
        position:absolute; 
        top: 0px;
        left: -50px;
    }

    .map{
        object-fit: cover;
        width: 100%;
    
    }

    .location-grid{
        grid-template-columns: 2fr 2fr;
    }

   

    .location-grid div:nth-child(2){
        background-color:#151515;
        justify-items: center;
        padding-top: 4rem;
        padding-left: 120px;
        padding-right: 220px;
    }  

    .location-grid div:nth-child(3){
        background-color:#151515;
        justify-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-right:120px;
        padding-left: 1rem;
    }  


    .location-grid div:first-child {
        grid-column: 1/4;
    }
   
    
    .location-grid div:last-child{
        background-color:#D5966C;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        padding-left: 120px;
    } 

    .maplocation{
        position: relative;
    }

    .tiniest{
        justify-content: center;
        justify-items: center;
        padding-left: 8rem;
        padding-right: 10rem;
        align-items: center;
        margin-top: 2rem;
    }

    .tags svg path:hover{
        fill:#FFFFFF;
       
    } 

    .socialmedia{
        display: flex;
       gap:1rem;
       
        
    } 

    .socialmedia svg{
        height: 20px;
        width: 20px;
        
    }

    .socialmedia img:hover{
        cursor: pointer;
     
    }

    svg path:hover{
        fill:#D5966C;
        cursor: pointer;
        transition: background 500ms ease;
    }

    footer{
        background-color: #151515;
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 165px;
        padding-right: 165px;
    }

    .foot{
        color: #FFFFFF;
        justify-content: center;
        justify-items: center;
        padding-left: 10rem;
        padding-right: 17rem;
        align-items: center;
    }
  
    .arts-location{
        padding-right: 135px;
        padding-top: 189px;
        height: 160px;
    }

    
    .location-button{
        background-color: #151515;
        text-transform: uppercase;
        color: white;
        font-family: 'Big Shoulders Display';
        font-size: 20px;
        padding: 24px;
        border: 0 solid #151515;
        position: absolute;
        width: 204px;
        letter-spacing: 2px;
        word-spacing: 2px;
                
    }

    .location-arrow{
        background-color: #D5966C;
        padding: 24px;
        position: absolute;
        bottom: 0px;
        right: -57px;  
    }

    .location-button:hover, .location-button:active{
        cursor: pointer;
        background-color: #D5966C;
        border: 0 solid #D5966C;
    }

    .location-arrow:hover{
        background-color:#151515;
        cursor: pointer;
    }

 
    .bigbox-1{
        height: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 180px;
        background-color:transparent;
        background-image: url(./assets/desktop/image-hero.jpg);
        background-position:center;
        background-repeat: no-repeat;
        top: 0;
        width: 1440px;
              
    }

    .bigbox-1 div:first-child{
        height: 800px;
        background-color: transparent;
        background-color: #151515;
        width: 455px;
           
    }


    .hero-text{
        color:#FFFFFF;
        padding-top: 189px;
        padding-bottom: 434px;
        padding-left: 164px;
        height: 176px;
        width: 514px;
        mix-blend-mode: difference;
        text-wrap: nowrap;       
    }
   

    .location{
        grid-column: 3 / 3;
        background-color: #FFFFFF;
        margin-top: 64px;
    }

    .day{
        padding-bottom: 32px;
        width: 350px;
    }

    .wandery{
        padding-bottom: 90px;
    }


    .bigbox-2{
        background-color:#FFFFFF;
        display: flex;
        flex-direction: row-reverse;
        margin-left: 165px;
        margin-right: 90px;
        margin-bottom: 11px;
        width: 1110px;
        height: 400px;
        
       
    }

    .box-2{
        background-color: #FFFFFF;
        color:#151515;  
        width: 350px;
       
    }   

    .grid-1{
        padding-left: 125px;
             
     }

    .box-3{
        background-color: #151515;
        color: #FFFFFF;
        margin-bottom: 120px;
        padding-left: 48px;
        padding-right: 47px;
        grid-column: 2 / 3;
        padding-top: 70px;
        padding-bottom: 69px;
        margin-left: 30px;

    }

    .pic-3{
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .bigbox-3{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: 165px;
        margin-right: 164px;
        margin-bottom: 180px;
        
    }

    .pic-2{
        grid-row: 1 / 3;
    }

    .excited{
        padding-top: 35px;
    }


}